@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

* {
    padding: 0xp;
    margin: 0px;
}

/*Paleta de cor*/

.primary {
    color: white;
}

.secondary {
    color: #304F47;
}

.tertiary {
    color: #C7923E;
}

.bg-primary {
    background-color: white;
}

.bg-secondary {
    background-color: #304F47;
}

.bg-tertiary {
    background-color: #C7923E;
}