.navbar {
    display: flex;
}

@media (max-width: 600px) {
    .navbar {
        display: flex;
        flex-direction: column;
    }
  }
.link {
    text-decoration: none;
    text-align: center;
    margin: 1.2em 1em;  
}

.link :hover{
    color: #C7923E;
    text-shadow: 1px 1px 1px black;
}

/* List view locais*/

#ContainerLocais {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
