<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/components.css">
    <link rel="stylesheet" href="../css/layout.css">
    <title>Document</title>
</head>
<body class="d-grid">
    <header class="bg-secondary">
        <nav class="navbar">
            <a class="link primary" href="../index.html">
                <img class="navbarImg" src="../img/logo.png" alt="inicio">
            </a>
            <a class="link primary" href="./viewLocais.html">
                <p>Locais</p>
            </a>
            <a class="link primary" href="./createLocais.html">
                <p>Novo local</p>
            </a>
            <a class="link primary" href="#">
                <p>Sobre</p>
            </a>
        </nav>
    </header>
    <main>
        <h1>Saiba mais sobre esta projeto!</h1>
        <p>
            Este projeto foi desenvolvido com intuito de estudar e praticar solicitações http usando o fetch. 
            O backend do projeto é um json que com a biblioteca json-server, ele se torna uma api.
        </p>
        <a class="redeSocial" href="https://github.com/JoseHenrique1" target="_blank">Github</a>
        <a class="redeSocial" href="https://www.linkedin.com/in/jos%C3%A9-henrique-araujo-da-silva-43970a274/" target="_blank">Linkedin</a>
    </main>
    <footer class="bg-secondary primary">
        @jose henrique
    </footer>
    <script type="module" src="../js/index.js"></script>
</body>
</html>