<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <title>Document</title>
</head>
<body id="ListViewLocais">
    <header class="bg-secondary">
        <nav class="navbar">
            <a class="link primary" href="#">
                <img src="" alt="inicio">
            </a>
            <a class="link primary" href="#">
                <p>Locais</p>
            </a>
            <a class="link primary" href="./createLocais.html">
                <p>Novo local</p>
            </a>
            <a class="link primary" href="#">
                <p>Sobre</p>
            </a>
            <a class="link primary" href="#">
                <p>Contato</p>
            </a>
        </nav>
    </header>
    <main>
        <h1>Pontos turísticos</h1>
        <section id="ContainerLocais">
            <!-- Aqui fica os cards dos locais -->
        </section>
    </main>
    <footer>
        <p>
            Desenvolvido por José Henrique
        </p>
    </footer>
    <script type="module" src="../js/index.js"></script>
</body>
</html>