<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/components.css">
    <title>Document</title>
</head>
<body class="d-grid" id="ListViewLocais">
    <header class="bg-secondary">
        <nav class="navbar">
            <a class="link primary" href="../index.html">
                <img class="navbarImg" src="../img/logo.png" alt="inicio">
            </a>
            <a class="link primary" href="#">
                <p>Locais</p>
            </a>
            <a class="link primary" href="./createLocais.html">
                <p>Novo local</p>
            </a>
            <a class="link primary" href="./about.html">
                <p>Sobre</p>
            </a>
        </nav>
    </header>
    <main>
        <h1>Pontos turísticos</h1>
        <section id="ContainerLocais">
            <!-- Aqui fica os cards dos locais -->
        </section>
    </main>
    <footer class="bg-secondary primary">
        @jose henrique
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../js/index.js"></script>   
</body>
</html>